@font-face {
    font-family: Aller_Bd;
    src: url(../fonts/Aller_Bd.ttf);
  }
@font-face {
    font-family: Aller_BdIt;
    src: url(../fonts/Aller_BdIt.ttf);
}
@font-face {
    font-family: Aller_It;
    src: url(../fonts/Aller_It.ttf);
}
@font-face {
    font-family: Aller_LtIt;
    src: url(../fonts/Aller_LtIt.ttf);
}
@font-face {
    font-family: Aller_Rg;
    src: url(../fonts/Aller_Rg.ttf);
}
@font-face {
    font-family: AllerDisplay;
    src: url(../fonts/AllerDisplay.ttf);
}